<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${CONSOLE_PATTERN}"/>
    </Console>

    <RollingFile
      fileName="${LOG_DIR}/application.log"
      filePattern="${LOG_DIR}/$${date:yyyy-MM}/application-%d{yyyy-MM-dd}.log.%i.gz"
      name="RollingFile">
      <DefaultRolloverStrategy max="30">
        <Delete basePath="${LOG_DIR}" maxDepth="2">
          <IfFileName glob="*/application-*.log.*.gz"/>
          <IfLastModified age="15d"/>
        </Delete>
      </DefaultRolloverStrategy>
      <PatternLayout pattern="${FILE_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100MB"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>

  <CustomLevels>
    <CustomLevel intLevel="450" name="EVENT"/>
  </CustomLevels>

  <Loggers>
    <Logger additivity="false" level="INFO" name="com.candle.aggregator">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Logger>

    <Logger level="TRACE" name="org.zalando.logbook"/>
    <Logger level="WARN" name="org.apache.kafka"/>
    <Logger level="INFO" name="org.springframework.kafka"/>

    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>

  <Properties>
    <Property name="SERVICE_NAME">history-api-service</Property>
    <Property name="LOG_DIR">.</Property>

    <Property name="CONSOLE_PATTERN">
      %style{%d{ISO8601}}{red} %highlight{%-5level[${SERVICE_NAME},%X{traceId},%X{spanId}]} [%style{%t}{bright,blue}]
      %style{%logger{36}}{bright,yellow}: %msg%n%throwable
    </Property>

    <Property name="FILE_PATTERN">
      %d{ISO8601} %-5level[${SERVICE_NAME},%X{traceId},%X{spanId}] [%t] %logger{36}: %msg%n%throwable
    </Property>
  </Properties>
</Configuration>